# dependencies
react-frontend/node_modules
react-frontend/.pnp
react-frontend/.pnp.js

# testing
react-frontend/coverage

# production
react-frontend/build

# misc
.vscode
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

react-frontend/npm-debug.log*
react-frontend/yarn-debug.log*
react-frontend/yarn-error.log*
