* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}

body {
  background-color: #212121;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  height: 120px;
  padding: 30px 20px;
  font-family: "Goldman", "sans-serif", cursive;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 420px) {
  header {
    padding: 10px;
  }
}

header h1 {
  position: relative;
  top: 30px;
  left: 0;
  z-index: 100;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  background-color: black;
  text-align: center;
  color: #dddddd;
  letter-spacing: 0.3rem;
  padding: 10px 8px;
  border: 2px solid white;
}

@media (max-width: 420px) {
  header h1 {
    padding: 8px 5px;
  }
}

header h1::after {
  content: '';
  padding: 0 13px;
  background-color: #e40072;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

header ul.nav-items {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header ul.nav-items .link-text {
  text-decoration: none;
  color: white;
}

header ul.nav-items .link-text li {
  margin-left: 20px;
}

@media (max-width: 420px) {
  header ul.nav-items .link-text li {
    margin-left: 12px;
  }
}

header ul.nav-items .link-text:nth-child(4) li, header ul.nav-items .link-text:nth-child(5) li {
  background-color: #e40072;
  padding: 6px;
}

footer {
  height: 50px;
  color: #dddddd;
  background-color: #000000;
  font-family: "Goldman", "sans-serif", cursive;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
}

main {
  min-height: calc(100vh - 170px);
  padding-top: 70px;
  padding-bottom: 30px;
}

main#auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main#auth h1 {
  font-family: sans-serif;
  color: #dddddd;
  text-align: center;
}

main#auth form {
  max-width: 700px;
  margin: 50px;
  background-color: #303030;
  padding: 10px 30px 30px 30px;
  color: #dddddd;
  font-family: sans-serif;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main#auth form input, main#auth form button {
  font-size: 1.2rem;
  padding: 12px 15px;
  margin-top: 15px;
  border-radius: 3px;
}

main#auth form div.upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10px 0;
  font-size: 1.3rem;
  cursor: pointer;
  width: 100%;
}

main#auth form div.upper div {
  width: 100%;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  background-color: transparent;
}

main#auth form div.upper div.login, main#auth form div.upper div.register {
  background-color: #e40072;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

main#auth-camera {
  position: relative;
  top: 0;
  bottom: -30px;
  width: 98%;
  margin: 0 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

main#auth-camera div.camera {
  height: 100%;
  max-width: 780px;
  width: 100%;
  background-color: #212121;
  border-radius: 5px;
  margin-bottom: -4px;
  -webkit-box-shadow: 0px 0px 15px 0px black;
          box-shadow: 0px 0px 15px 0px black;
  padding: 0;
}

main#auth-camera div.camera #videoElement {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  padding: 0;
  background-color: #212121;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

main#auth-camera div.controls {
  position: absolute;
  top: 45%;
  right: 25px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 780px) {
  main#auth-camera div.controls {
    top: 35px;
    right: 35px;
  }
}

@media (max-width: 500px) {
  main#auth-camera div.controls {
    top: 15px;
    right: 15px;
  }
}

main#auth-camera button#stop, main#auth-camera button#capture {
  height: 52px;
  width: 52px;
  padding: 7px;
  border-radius: 50%;
  background-color: #e40072;
  cursor: pointer;
  z-index: 5;
  margin-bottom: 10px;
}

@media (max-width: 780px) {
  main#auth-camera button#stop, main#auth-camera button#capture {
    height: 45px;
    width: 45px;
  }
}

@media (max-width: 500px) {
  main#auth-camera button#stop, main#auth-camera button#capture {
    height: 40px;
    width: 40px;
  }
}

main#auth-camera button#stop i.btn, main#auth-camera button#capture i.btn {
  font-size: 2rem;
}

@media (max-width: 780px) {
  main#auth-camera button#stop i.btn, main#auth-camera button#capture i.btn {
    font-size: 1.7rem;
  }
}

@media (max-width: 500px) {
  main#auth-camera button#stop i.btn, main#auth-camera button#capture i.btn {
    font-size: 1.55rem;
  }
}

main#loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main#loader h1, main#loader h2 {
  color: #e40072;
  font-family: sans-serif;
  margin-bottom: 20px;
  text-align: center;
}

main#loader h1 span::after {
  content: '';
  -webkit-animation: addDots 2s alternate infinite;
          animation: addDots 2s alternate infinite;
}

main#loader div.loader-wheel {
  margin-top: 50px;
  z-index: 100;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #e40072;
  -webkit-animation: spin 2s cubic-bezier(0, 0.3, 1, 0.75) infinite;
          animation: spin 2s cubic-bezier(0, 0.3, 1, 0.75) infinite;
}

@-webkit-keyframes addDots {
  0% {
    content: '';
  }
  25% {
    content: '.';
  }
  50% {
    content: '. .';
  }
  75% {
    content: '. . .';
  }
  100% {
    content: '. . . .';
  }
}

@keyframes addDots {
  0% {
    content: '';
  }
  25% {
    content: '.';
  }
  50% {
    content: '. .';
  }
  75% {
    content: '. . .';
  }
  100% {
    content: '. . . .';
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

main#main {
  margin: 0 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

@media (max-width: 900px) {
  main#main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  main#main {
    margin: 0 10px;
  }
}

main#main div.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main#main div.left h1 {
  color: white;
  font-family: "Goldman", "sans-serif", cursive;
}

main#main div.left h1 span {
  font-size: 2.5rem;
  color: #e40072;
}

main#main div.right {
  margin-left: 100px;
}

main#main div.right div {
  height: 180px;
  width: 360px;
  position: relative;
  border-radius: 5px;
  padding: 2px;
  background-color: #424242;
}

main#main div.right div:nth-child(1) {
  top: 0;
  left: -100px;
  height: 200px;
}

main#main div.right div:nth-child(2) {
  top: -50px;
  left: 0;
  z-index: 2;
}

main#main div.right div:nth-child(3) {
  top: -80px;
  left: -50px;
}

main#main div.right div img {
  position: relative;
  width: 100%;
  height: 100%;
}

@media (max-width: 900px) {
  main#main div.right {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main#main div.right div {
    height: 300px;
    width: 600px;
    position: static;
    margin-top: 20px;
  }
  main#main div.right div:nth-child(1) {
    height: 333px;
  }
}

@media (max-width: 500px) {
  main#main div.right div {
    width: 360px;
    width: 100%;
    height: 180px;
  }
  main#main div.right div:nth-child(1) {
    height: 200px;
  }
}

main#about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  margin: 0 1%;
}

@media (max-width: 1000px) {
  main#about {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 50px;
  }
}

main#about div.left, main#about div.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main#about div.left {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #424242;
  border-radius: 5px;
  padding: 20px;
}

main#about div.left h1 {
  color: #dddddd;
  font-family: "Goldman", "sans-serif", cursive;
  float: left;
}

main#about div.left div {
  width: 100%;
  font-family: sans-serif;
  color: #dddddd;
  line-height: 1.5rem;
}

main#about div.left div ul {
  margin-left: 25px;
}

main#about div.right {
  width: 100%;
}

main#about div.right h1 {
  color: #dddddd;
  font-family: "Goldman", "sans-serif", cursive;
}

main#about div.right div.card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  width: 100%;
  max-width: 500px;
  background-color: #424242;
  margin: 15px 0;
  padding: 20px;
  border-radius: 5px;
}

main#about div.right div.card:last-child {
  margin-bottom: 0;
}

main#about div.right div.card div.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main#about div.right div.card div.image img {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

main#about div.right div.card div.details h2, main#about div.right div.card div.details a, main#about div.right div.card div.details span {
  color: #dddddd;
  font-family: sans-serif;
  text-decoration: none;
}

main#about div.right div.card div.details a:hover {
  color: #e40072;
}

main#about div.right div.card div.details h2.name {
  margin-bottom: 10px;
}

main#not-found {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Goldman", "sans-serif", cursive;
  padding: 50px;
}

main#not-found h1, main#not-found h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #dddddd;
}

main.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 10%;
}

main.result h1, main.result h2 {
  font-family: sans-serif;
  color: #dddddd;
  text-align: center;
}

main.result h1 {
  margin-bottom: 20px;
}

main.result h2 {
  line-height: 2.5rem;
}

main.result h2.retry {
  cursor: pointer;
  color: blueviolet;
}

main.result h2.retry:hover {
  color: red;
}

main#success h1 {
  color: green;
}

main#failure h1 {
  color: red;
}
/*# sourceMappingURL=style.css.map */